%h1 Pdf content
%p
  %b version
  = @pdf_contents.version
%p
  %b created_by
  = @pdf_contents.producer
%p
  %b creation_date
  = @pdf_contents.creation_date
%p
  %b page_count
  = @pdf_contents.page_count
