.container
  %h1 Generate PDF
  %ul.nav.nav-pills.nav-stacked
    %li=link_to 'Prawn', prawn_path(format: 'pdf')
    %li=link_to 'Wicked_pdf', wicked_pdf_path(format: 'pdf')
    %li=link_to 'Pdfkit', pdfkit_generate_manual_path(format: 'pdf')
